

//colors
$bg: #E5E5E5;
$accent: rgba(0, 123, 255, 1);
$borderDefaultColor: rgba(228, 228, 228, 1);
$mainTextColor: rgba(84, 84, 84, 1);
$lighterTextColor: rgba(150, 150, 150, 1);
$headerColor: rgba(28, 28, 28, 1);